/* Backdrop */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal container */
.issue-modal {
  width: 650px;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.close-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}

/* Form layout fixes */
.issue-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Title */
.issue-title {
  width: 100%;
  padding: 14px;
  font-size: 20px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  color: white;
}

/* Description */
.issue-desc {
  width: 100%;
  height: 120px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px;
  color: white;
  resize: none;
}

/* Tags row */
.issue-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag-btn {
  background: #2a2a2a;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 8px;
  color: #ddd;
  cursor: pointer;
}

.tag-btn:hover {
  background: #333;
}

.tag-date {
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px 12px;
  color: #ddd;
}

/* Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.create-btn {
  background: #5865f2;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}


.status-dropdown {
  position: fixed;
  background: #1f1f1f;
  border: 1px solid #333;
  width: 230px;
  border-radius: 8px;
  padding: 6px 0;
  box-shadow: 0 4px 25px rgba(0,0,0,0.4);
  z-index: 99999;
}

.dropdown-header {
  padding: 8px 14px;
  font-size: 13px;
  color: #aaa;
  border-bottom: 1px solid #333;
}

.dropdown-item {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ddd;
}

.dropdown-item:hover {
  background: #333;
}

.dropdown-item.selected {
  background: #2d2d2d;
}

.tick {
  margin-left: auto;
  color: #6cf;
}
