/* Backdrop */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal container */
.issue-modal {
  width: 650px;
  max-width: 90%;
  background: #1c1c1c;
  padding: 24px;
  border-radius: 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
  overflow: hidden;         
  box-sizing: border-box;      
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}

/* Form wrapper */
.issue-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  box-sizing: border-box;
}

/* Title */
.issue-title {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #111;             
  border: 1px solid #333;
  border-radius: 6px;
  color: white;
  box-sizing: border-box;        
}

/* Description */
.issue-desc {
  width: 100%;
  height: 140px;
  background: #111;         
  border: 1px solid #333;
  border-radius: 6px;
  padding: 12px;
  color: white;
  resize: none;
  line-height: 1.4;
  box-sizing: border-box;       
}

/* Tags row */
.issue-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Tag buttons */
.tag-btn {
  background: #2a2a2a;
  border: 1px solid #444;
  padding: 8px 12px;
  border-radius: 8px;
  color: #ddd;
  cursor: pointer;
  white-space: nowrap;
}

.tag-btn:hover {
  background: #333;
}

.tag-date {
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px 12px;
  color: #ddd;
}

/* Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-btn {
  background: #5865f2;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}





.live-box {
  margin-top: 10px;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
}

.live-text {
  min-height: 50px;
  color: #ccc;
  margin-bottom: 8px;
  white-space: pre-wrap;
}
